<table class="table table-primary table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>Brand Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Rent Date</th>
        <th>Return Date</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</tbody>
</table>
