<div class="row" style="margin-bottom: 300px;">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      
      <form [formGroup]="loginForm">
        
        <div class="imgcontainer">
          <img src="https://png.pngtree.com/png-vector/20191003/ourmid/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1786166.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
      
          <label for="psw"><b>Password</b></label>
          
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          <button type="submit" (click)="login()">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
          
         
        </form>
    </div>
    <div class="col-md-3"></div>
  </div>