<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <header class="masthead" style="background-image: url('../assets/car2.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
        
            
          </div>
        </div>
      </div>
    </div>
  </header>
 
  <div class="row mb-4">
      <div class="col-md-2">
        
          <label for="filterText" class="form-label">Search Car</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search">
        <div *ngIf="filterText" class="alert alert-success mt-3">
          You searched {{filterText}}
            </div>
        
        <select  [(ngModel)]="brandFilter" class="form-select mt-3" aria-label="Default select example" >
          <option>Select Brand</option>
            <option *ngFor="let brand of brands"  [value]="brand.id"  >{{brand.name}}</option>
            
          </select>
     
     
     
        <select  [(ngModel)]="colorFilter" class="form-select mt-3 mb-3" aria-label="Default select example">
            <option selected>Select Color</option>
            <option  *ngFor="let color of colors"  [value]="color.id" >{{color.name}}</option>
            
          </select>
     
     
          <button routerLink="/cars/getbybrandandcolor/{{brandFilter}}/{{colorFilter}}" class="btn btn-warning " style="margin-right: 10px;">Filter</button>
          <button routerLink="/cars" class="btn btn-danger">Clear</button>
      </div>
     
      
   

 
  <div class="col-md-10">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let car of cars | filterPipe:filterText">
        <div class="card">
          <img
          src="{{ imageUrl }}{{ car.imagePath}}" alt="{{car.imagePath}}"
            class="card-img-top"
          
          />
          <div class="card-body">
            <h5 class="card-title card-bold">{{car.brandName}} {{car.carName}}</h5>
            <p class="card-text" style="color: #01CD74;">
              {{car.dailyPrice | currency}}
            </p>
            <button routerLink="/cars/getcardetails/{{car.id}}"  class="btn btn-info">See More</button>
          </div>
        </div>
      </div>
  
 
    
    </div>


</div>  </div>

